p {
  color: #3c3c3d;
  font-size: 18px;
}
button {
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.contactButton {
  align-content: center;
  padding-top: 40px;
}

.iconrow {
  padding-top: 20px;
  padding-bottom: 30px;
}

h4,
h3,
a {
  color: gray;
}

.sectionLabel {
  align-content: center;
}

#aboutMe {
  background-color: #d7d7d7;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 30px;
}

#introText {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}

#bioText {
  color: #3c3c3d;
  font-size: 18px;
  line-height: 24px;
}

#myFace {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

.icons {
  padding: 20px;
}

#projects {
  background-color: #9c9c9c;
}

.projectrow {
  padding-bottom: 10px;

}

@media (max-width: 500px) {
  #introBox {
    background-image: url("./components/images/jumbobg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
  }
  .jumbotron-fluid {
    height: 100vh;
  }
  #myName {
    font-size: 100px;
    line-height: 90px;
    padding-top: 75px;
    padding-bottom: 50px;
  }
  #bioText {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    width: 100vw;
  }
}

@media (min-width: 501px) {
  #introBox {
    background-image: url("./components/images/jumbobg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
  }
  .jumbotron-fluid {
    height: 80vh;
  }
  #myName {
    font-size: 100px;
    line-height: 90px;
    padding-top: 200px;
    padding-bottom: 30px;
  }
  .card {
    width: 20vw;
  }
}
